<!DOCTYPE html>
<html>
  <head>
    <title>Marca</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>La marca del vehiculo es: <%=marca.nombre%></p>
  </body>
</html>
