@import url("commonStyles.css");

section#gallery {
	display: flex;
	flex-wrap: wrap;
}

div.img {
	margin: 2px;
	padding: 1.5px;
	border: 1px solid #7979FF;
	width: 124.3px;
	text-align: center;
}

div.img img {
	margin: 3px;
}

div.desc {
	margin: 2px;
}
