.search-shortcut {
	position: absolute;
	right: 0.6rem;
	top: 50%;
	transform: translateY(-50%);

	padding: 0.1rem 0.4rem;
	border: 1px solid var(--md-default-fg-color--lighter);
	border-radius: 0.25rem;

	color: var(--md-default-fg-color--light);
	font-size: 0.6rem;
	font-weight: 500;

	pointer-events: none;
}

.md-search__input {
	padding-right: 4rem;
}
